<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compleasy Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6">Devices</h1>
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <table class="min-w-full">
                <thead>
                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                        <th class="py-3 px-6 text-left">Name</th>
                        <th class="py-3 px-6 text-left">OS/Distribution</th>
                        <th class="py-3 px-6 text-left">Agent Version</th>
                        <th class="py-3 px-6 text-center">Compliant</th>
                        <th class="py-3 px-6 text-center">Warnings</th>
                        <th class="py-3 px-6 text-left">Last Updated</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 text-sm font-light">

                    {% for d in devices %}
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap">
                            <div class="flex items-center">
                                <span class="font-medium">{{ d['hostname'] }}</span>
                            </div>
                        </td>
                        <td class="py-3 px-6 text-left">
                            <div class="flex items-center">
                                <span>{{ d['distro'] }} {{ d['distro_version'] }}</span>
                            </div>
                        </td>
                        <td class="py-3 px-6 text-left">
                            <div class="flex items-center">
                                <span>{{ d['lynis_version' ]}}</span>
                            </div>
                        </td>
                        <td class="py-3 px-6 text-center">
                            <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs">Yes</span>
                        </td>
                        <td class="py-3 px-6 text-center">
                            <span class="bg-yellow-200 text-yellow-600 py-1 px-3 rounded-full text-xs">2</span>
                        </td>
                        <td class="py-3 px-6 text-left">
                            <span>{{ d['last_update'] }}</span>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
