#!/usr/bin/env bash

COMPLEASY_URL={{ compleasy_url }}
COMPLEASY_CERT_URL=${COMPLEASY_URL}/download/server.crt
COMPLEASY_CERT_TMP=/tmp/compleasy.crt
COMPLEASY_PRF_URL=${COMPLEASY_URL}/download/lynis_custom_profile

if [ ! -f /etc/debian_version ]; then
    echo "This script is only compatible with Debian-based systems."
    exit 1
fi

# Check if the server is reachable and has a valid certificate
curl -s ${COMPLEASY_URL} -o /dev/null

if [ $? -ne 0 ]; then
    echo "Server certificate is self-signed. Adding it to the trusted certificates."
    # Use curl instead of openssl to do not require additional packages
    curl -v --output /dev/null ${COMPLEASY_URL} 2>&1 | sed -n '/-----BEGIN CERTIFICATE-----/,/-----END CERTIFICATE-----/p' > ${COMPLEASY_CERT_TMP}
    sudo cp ${COMPLEASY_CERT_TMP} /usr/local/share/ca-certificates/compleasy.crt
    sudo update-ca-certificates
    rm -f ${COMPLEASY_CERT_TMP}
else
    echo "Server certificate is valid."
fi

# Update and install necessary packages
sudo apt-get update
sudo apt-get install -y curl lynis rkhunter auditd

# Configure Lynis agent
sudo curl -s ${COMPLEASY_PRF_URL} -o /etc/lynis/custom.prf

# Run Lynis
sudo lynis audit system --upload --quick --cronjob --auditor "Compleasy agent"

# Enable systemd timer for daily audit
sudo systemctl enable lynis.timer