#!/usr/bin/env bash

COMPLEASY_URL={{ compleasy_url }}
COMPLEASY_CERT_URL=${COMPLEASY_URL}/download/server.crt
COMPLEASY_CERT_TMP=/tmp/compleasy.crt
COMPLEASY_PRF_URL=${COMPLEASY_URL}/download/lynis_custom_profile
COMPLEASY_LICENSEKEY={{ licensekey }}

if [ ! -f /etc/debian_version ]; then
    echo "This script is only compatible with Debian-based systems."
    exit 1
fi

# If user is not root, use sudo if available
if [ $(id -u) -ne 0 ]; then
    if [ -x "$(command -v sudo)" ]; then
        SUDO=sudo
    else
        echo "Please run this script as root or install sudo."
        exit 1
    fi
fi

# Check if the server is reachable and has a valid certificate
curl -s "${COMPLEASY_URL}" -o /dev/null
if [ $? -ne 0 ]; then
    echo "Server certificate is self-signed. Adding it to the trusted certificates."
    # Check if openssl and ca-certificates are installed
    if [ ! -x "$(command -v openssl)" ] || [ ! -x "$(command -v update-ca-certificates)" ]; then
        echo "openssl or ca-certificates are not installed. Installing them..."
        ${SUDO} apt-get update && ${SUDO} apt-get install -y openssl ca-certificates
    fi
    openssl s_client -showcerts -connect ${COMPLEASY_URL#https://} </dev/null 2>/dev/null | sed -n -e '/BEGIN\ CERTIFICATE/,/END\ CERTIFICATE/ p' > ${COMPLEASY_CERT_TMP}
    ${SUDO} cp ${COMPLEASY_CERT_TMP} /usr/local/share/ca-certificates/compleasy.crt
    ${SUDO} update-ca-certificates
    rm -f ${COMPLEASY_CERT_TMP}
else
    echo "Server certificate is valid."
fi

# Update and install necessary packages
${SUDO} apt-get update
${SUDO} apt-get install -y curl lynis rkhunter auditd

# Get installed Lynis version
LYNIS_VERSION=$(lynis --version)

# Configure Lynis agent
${SUDO} curl -s "${COMPLEASY_PRF_URL}?licensekey=${COMPLEASY_LICENSEKEY}&lynis_version=${LYNIS_VERSION}" -o /etc/lynis/custom.prf

# Run Lynis
${SUDO} lynis audit system --upload --quick --cronjob --auditor "Compleasy agent"

# Enable systemd timer for daily audit
${SUDO} systemctl enable lynis.timer