<div id="rule-edit-panel" class="hidden fixed right-0 top-0 h-full w-1/4 bg-white shadow-md">
    <div class="flex justify-between items-center p-4 border-b bg-gray-200">
        <h2 class="text-xl font-bold">Edit Rule</h2>
        <button class="text-gray-600" onclick="toggleRuleEditPanel()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
    <div>
        <!-- Rule edit form goes here -->
        <form id="rule-edit-form" method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="rule_id" id="rule_id" value="">
            <div class="p-4 mb-4">
                <label for="rule_name" class="block text-sm font-medium text-gray-700">Rule Name</label>
                <input type="text" id="rule_name" name="name" class="mt-1 p-2 block w-full border border-gray-300 rounded-md" />
            </div>
            <div class="p-4 mb-4">
                <label for="rule_description" class="block text-sm font-medium text-gray-700">Description</label>
                <textarea id="rule_description" name="description" class="mt-1 p-2 block w-full border border-gray-300 rounded-md"></textarea>
            </div>
            <!-- Rule query -->
             <div class="p-4 mb-4">
                <label for="rule_query" class="block text-sm font-medium text-gray-700">Rule query</label>
                <textarea id="rule_query" name="rule_query" class="mt-1 p-2 block w-full border border-gray-300 rounded-md"></textarea>
            </div>
            <!-- Apply and cancel buttons (in a row, down at the bottom of the panel) -->
            <div class="absolute flex space-x-2 w-full bottom-0 p-4 bg-gray-200">
                <button class="w-1/2 bg-blue-500 text-white px-4 py-2 rounded">Apply</button>
                <button class="w-1/2 bg-gray-500 text-white px-4 py-2 rounded" onclick="toggleRuleEditPanel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
    function toggleRuleEditPanel(event, ruleId) {
        const panel = document.getElementById('rule-edit-panel');
        panel.classList.toggle('hidden');

        // Update the form action dynamically
        const form = document.getElementById('rule-edit-form');

        if (ruleId) {
            console.log('Editing rule:', ruleId);
            form.action = `/rule/${ruleId}/edit/`;
            loadRuleDetails(ruleId);
        } else {
            console.log('Creating a new rule');
            form.action = '/rule/create/';
            loadRuleDetails();
        }
    }
    function loadRuleDetails(ruleId) {
        // Empty data if ruleId is not provided (i.e. when creating a new rule)
        if (!ruleId) {
            document.getElementById('rule_name').value = '';
            document.getElementById('rule_description').value = '';
            document.getElementById('rule_query').value = '';

            return;
        }
        // Get rule details by ID
        const rule = rules.find(rule => rule.id === ruleId);
        console.log('Rule details:', rule);

        // Populate the form fields with the rule details
        document.getElementById('rule_name').value = rule.name;
        document.getElementById('rule_description').value = rule.description;
        document.getElementById('rule_query').value = rule.rule_query;
    }
</script>
