<div id="rule-edit-panel" class="hidden fixed right-0 top-0 h-full w-1/4 bg-white shadow-md">
    <div class="flex justify-between items-center p-4 border-b bg-gray-200">
        <h2 class="text-xl font-bold">Edit Rule</h2>
        <button class="text-gray-600" onclick="toggleRuleEditPanel()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
    <div>
        <!-- Rule edit form goes here -->
        <form id="rule-edit-form">
            <div class="p-4 mb-4">
                <label for="rule-name" class="block text-sm font-medium text-gray-700">Rule Name</label>
                <input type="text" id="rule-name" name="rule-name" class="mt-1 p-2 block w-full border border-gray-300 rounded-md" />
            </div>
            <div class="p-4 mb-4">
                <label for="rule-description" class="block text-sm font-medium text-gray-700">Description</label>
                <textarea id="rule-description" name="rule-description" class="mt-1 p-2 block w-full border border-gray-300 rounded-md"></textarea>
            </div>
            <!-- Rule query -->
             <div class="p-4 mb-4">
                <label for="rule-query" class="block text-sm font-medium text-gray-700">Rule query</label>
                <textarea id="rule-query" name="rule-query" class="mt-1 p-2 block w-full border border-gray-300 rounded-md"></textarea>
            </div>
            <!-- Apply and cancel buttons (in a row, down at the bottom of the panel) -->
            <div class="absolute flex space-x-2 w-full bottom-0 p-4 bg-gray-200">
                <button class="w-1/2 bg-blue-500 text-white px-4 py-2 rounded">Apply</button>
                <button class="w-1/2 bg-gray-500 text-white px-4 py-2 rounded" onclick="toggleRuleEditPanel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
    function toggleRuleEditPanel() {
        const panel = document.getElementById('rule-edit-panel');
        panel.classList.toggle('hidden');
    }
    function loadRuleDetails(ruleId) {
        // Empty data if ruleId is not provided (i.e. when creating a new rule)
        if (!ruleId) {
            document.getElementById('rule-name').value = '';
            document.getElementById('rule-description').value = '';
            document.getElementById('rule-query').value = '';
            return;
        }
        // Get rule details by ID
        const ruleDetails = rules.find(rule => rule.id === ruleId);
        document.getElementById('rule-name').value = ruleDetails.name;
        document.getElementById('rule-description').value = ruleDetails.description;
        document.getElementById('rule-query').value = ruleDetails.rule_query;
    }
</script>
